.BestSeller {
    text-align: center;
}

.BestSeller h1{
    font-size: 35px;
    color: #707070;
    font-weight: normal;
    text-transform: uppercase;
}

.BestSeller h1 span{
    color: #343434;
    font-weight: 550;
}

.BestSeller p{
    color: #868686;
    font-size: 18px;
    margin-top: .3rem;
    font-weight: normal;
}
.products{
    display: grid;
    justify-content: center;
    gap: 20px;
    margin: 2.5rem 0;
    grid-template-columns: repeat(auto-fit,260px);
}