
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.heroContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: .5rem;
    overflow: hidden;
    align-items: center;
    padding-left:2rem;
    justify-content: center;
    border: 1px solid #e2dfdf;
}

.leftBox span{
    font-size: 18px;
    color: #414141;
    font-weight: medium;
    position: relative;
    text-transform: uppercase;
    display: block;
}

.leftBox span:first-child{
    margin-left: 3rem;
}

.leftBox span::after{
    position: absolute;
    content: " ";
    top: 50%;
    background-color: #414141;
    height: 2px;
    width: 5%;
    transform: translate(-50%,-50%);
}

.leftBox span:first-child:after{
    left:-20px;
}

.leftBox span:last-child:after{
    left:125px;
}

.leftBox h1{
    text-wrap: nowrap;
    font-size:55px;
    color: #414141;
    margin: .5rem 0;
    font-weight: normal;
    font-family: "Prata", serif;
}

.rightBox{
    background-color: #FFDAD6;
}


.rightBox img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media  screen and (max-width:1100px) {
    .leftBox h1{
        font-size:40px;
    }
}
@media  screen and (max-width:650px) {
   .heroContainer{
    padding: 0 !important;
    text-align: center;
    grid-template-rows: 200px;
    grid-template-columns: 1fr ;
}

.rightBox{
    text-align: center;
}

.leftBox span:first-child:after{
    /* left:32%; */
    display: none;
}

.leftBox span:last-child:after{
   display: none;
}

.leftBox span:first-child{
    margin-left:0 !important;
}

}

