.cart {
    display: grid;
    gap: 50px;
    margin: 1rem 0 3rem 0;
    min-height: 90vh;
    grid-template-columns: 2fr 1fr;
}


@media screen and (max-width:764px) {
    .cart {
        grid-template-columns: 1fr;
    }
}