.Paymentmethod {
    display: flex;
    flex-direction: column;
}

.Paymentmethod>h3 {
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    text-align: left !important;
    text-transform: uppercase;
}

.Paymentmethod>h3 span {
    color: #343434;
}

.methods {
    display: flex;
    width: 100%;
}

.method1,
.method2,
.method3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    height: 53px;
    margin-right: .5rem;
    max-width: 204px;
    padding: 0 1rem !important;
    justify-content: center !important;
    overflow: hidden;
    border: 1px solid #B3B3B3 !important;
}

.method3 label {
    color: #707070;
    margin-left: .5rem;
    text-wrap: nowrap;
    text-transform: uppercase;
}

.method1 label img,
.method2 label img {
    height: 30px;
    width: 100px;
    object-fit: contain;
}

@media screen and (max-width:1030px) {
    .methods {
        flex-direction: column;
    }

    .method1,
    .method2,
    .method3 {
        height: 45px;
        margin: 0 !important;
        width: 100% !important;
        margin-bottom: 1rem !important;
    }
}

@media screen and (max-width:764px) {
    .methods {
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: row;
    }
}