.summary>h1 {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 30px;
    color: #707070;
    margin-bottom: .8rem;
}

.summary>h1 span {
    color: #343434;
}

.summary div {
    display: flex;
    padding: .8rem 0;
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
    justify-content: space-between;
}

.summary div:last-child {
    border-bottom: transparent;
}

.summary {
    font-size: 16px;
    color: #555555;
}

.summary button {
    height: 58px;
    width: 262px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-top: .8rem;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width:764px) {
    .summary button {
        margin-bottom: 5rem;
        height: 45px;
        width: 180px;
        margin-right: auto !important;
    }
}
