.subscription{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15rem 0;
}

.subscription h1{
    font-size: 34px;
    color: #373737;
    line-height: 55px;
    font-weight: 550;
}

.subscription p{
    font-size: 18px;
    color: #9A9A9A;
}

.subscriptionField{
    display: flex;
    width: 100%;
    max-width: 724px;
    height: 62px;
    margin: 2rem 0;
    overflow: hidden;
    border: 1px solid #d3d3d3;
}

.subscriptionField input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 0 1rem;
    color: #9A9A9A;
}

.subscriptionField input::placeholder{
    font-size: 16px;
    color: #9A9A9A;
}

.subscriptionField button{
    width: 171px;
    height: 62px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #000000;
    text-transform: uppercase;
}