.card{
    width: 260px;
    overflow: hidden;
    cursor: pointer;
    text-align: left !important;
}

.link{
    text-decoration: none;
}

.card:hover img{
    transform: scale(1.1);
}

.card .img{
    overflow: hidden;
    height: 300px;
    width: 260px;
}

.card .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform .20s ease-in-out;
}

.card p{
    color: #494949;
    margin-bottom: .3rem;
    font-size: 14px;
}

.card span{
    color: #494949;
    font-size: 16px;
    font-weight: 450;
}