.header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 47px;
    width: 100%;
    max-width: 167px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.links ul {
    display: flex;
    list-style-type: none;
}

.links ul li {
    position: relative;
    margin-right: 1.5rem;
}

.links ul li a {
    text-decoration: none;
    color: #2A2A2A;
    font-size: 16px;
}

.links>span {
    color: #494949;
    font-size: 19px;
    border-bottom: 1px solid #efefef;
    width: 100%;
    align-items: center;
    display: none;
    padding-bottom: .5rem;
}

.bars {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.lengthNumber{
    height: 20px;
    width: 20px;
    background-color: #333;
    color: #fff;
    position: absolute;
    top:8px;
    right: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 13px;
}


@media screen and (max-width:764px) {
    .links {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        left: -100%;
        padding: .5rem;
        background-color: #fff;
        transition: left .20s ease-in-out;
    }

    .active {
        left: 0 !important;
    }

    .links>span {
        display: flex;
    }

    .bars {
        display: block;
    }

    .links ul {
        display: block;
    }

    .links ul li::after {
        opacity: 0;
    }

    .links ul li {
        text-transform: uppercase;
        margin: 0 !important;
        padding: .5rem 0;
        border-bottom: 2px solid #efefef;
    }

    .links ul li a {
        font-size: 18px;
        color: #494949;
    }
}

@media screen and (max-width:650px) {
    .logo {
        height: 35px;
    }
}