.header {
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 47px;
    width: 100%;
    max-width: 167px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.links ul {
    display: flex;
    list-style-type: none;
}

.links ul li {
    position: relative;
    margin-right: 1.5rem;
}

.links ul li::after {
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    content: " ";
    background-color: #2A2A2A;
}

.links ul li a {
    text-decoration: none;
    color: #2A2A2A;
    font-size: 16px;
}

.links > span{
    color: #494949;
    font-size: 19px;
    border-bottom: 1px solid #efefef;
    width: 100%;
    align-items: center;
    display: none;
    padding-bottom: .5rem;
}

.bars{
    font-size:28px;
    cursor: pointer;
    display: none;
}


@media screen and (max-width:764px) {
    .links {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        left: -100%;
        padding: .5rem;
        background-color: #fff;
    }
    
    .links > span{
        display: flex;
    }

    .bars{
        display: block;
    }

    .links ul {
        display: block;
    }
    
    .links ul li::after {
        opacity: 0;
    }

    .links ul li {
        text-transform:uppercase;
        margin: 0 !important;
        padding: .5rem 0;
        border-bottom: 2px solid #efefef;
    }

    .links ul li a{
        font-size: 18px;
        color: #494949;
    }
}