.buttons{
    display: flex;
}

.buttons button{
    height: 70px;
    width: 171px;
    color: #393939;
    font-size: 16px;
    font-weight: 550;
    border:1px solid #D0D0D0;
    background-color: #FBFBFB;
}

.content{
    padding: 3.5rem 2rem;
    border:1px solid #D0D0D0;
}
