.relatedProducts h1{
    text-align: center;
    font-size: 35px;
    font-weight:450;
    text-transform: uppercase;
    color: #707070;
    margin: 1rem 0;
}

.relatedProducts h1 span{
    color: #343434;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}