.aboutContainer > h1{
    color: #707070;
    font-size: 30px;
    font-weight: 550;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
}


.aboutContainer h1 span{
    color: #171717;
}




