.chooseSection>h1 {
    color: #707070;
    font-size: 30px;
    font-weight: 550;
    margin: 3.5rem 0 2rem 0;
    text-transform: uppercase;
}

.chooseSection>h1 span {
    color: #171717;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridContainer div {
    text-align: left;
    padding: 5rem;
    border: 1px solid #707070;
}

.gridContainer div span {
    color: #2A2A2A;
    font-size: 18px;
    margin-bottom: 1rem;
    display: inline-block;
    font-weight: 550;
}

.gridContainer div p {
    font-size: 16px;
    color: #6D6D6D;
}

@media screen and (max-width:992px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr ;
    }

}
@media screen and (max-width:764px) {
    .gridContainer {
        grid-template-columns: 1fr ;
    }

}