
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    overflow-x: hidden !important;
    font-family: "Outfit", sans-serif;
}

.container{
    padding: 0 .4rem;
    max-width: 1420px;
    margin: 0 auto;
}