.searchContainer{
    height:0;
    overflow: hidden;
    opacity:0;
    visibility: hidden;
    border: 1.3px solid #efefef;
    border-left: transparent;
    border-right: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .30s ease;
    background-color: #F9FAFB;
}

.active{
    opacity: 1 !important;
    visibility: visible !important;
    height: 80px !important;
}

.field{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.inputField{
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 100px;
    max-width:800px;
}

.inputField input{
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding:0 .5rem;
    font-size: 16px;
    color: #333;
}


